.App {
  font-family: "Montserrat", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

section {
  margin: 0 5rem 5rem 5rem;
}

.navbar--name {
  font-weight: 700;
  margin: 14px 0px 14px 0px;
}
.navbar--role {
  font-size: 14px;
  line-height: 0.1rem;
  letter-spacing: 0.1em;
  margin: 0px 0px 0.7rem 0px;
}

.navbar--linkContainer {
  display: flex;
}

.navbar--link {
  all: unset;
  margin: 20px;
}

.navbar--nameContainer {
  margin-left: 5vw;
}

.hero--container {
  height: 50rem;
  width: 100vw;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
}

.hero--textContainer {
  max-width: 450px;
  margin-left: 10vw;
}

.hero--name {
  font-weight: 400;
  font-size: 18px;
  color: #4f4f4f;
  margin: 0;
}

.hero--role {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.hero--description {
  font-weight: 400;
  font-size: 18px;
  color: #4f4f4f;
}

.hero--viewProjects {
  all: unset;
  font-weight: 700;
  font-size: 20px;
}

.projects--title {
  font-weight: 400;
  font-size: 48px;
}

.projects--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6rem 1rem;
}

.projectCard--container {
  all: unset;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 24rem;
  height: 25rem;
  cursor: pointer;
  transition: all 500ms;
}

.projectCard--container:hover {
  box-shadow: 0px 5px 8px #888888;
  transform: translateY(-5px);
}

.projectCard--image {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.projectCard--name {
  font-weight: 700;
  font-size: 20px;
  margin-top: 2rem;
  margin-bottom: 0;
}

.projectCard--description {
  font-weight: 400;
  font-size: 18px;
}

.projectCard--infoContainer {
  height: 50%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

@media only screen and (max-width: 1343px) {
  .hero--container {
    flex-direction: column;
    height: 40rem;
  }
  .hero--textContainer {
    margin: 5rem 0 0 0;
  }
  .hero--ballAnimation {
    height: 200px;
    justify-content: center;
  }
}
