.App {
  font-family: "Montserrat", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

section {
  margin: 0 5rem 5rem 5rem;
}

.navbar--name {
  font-weight: 700;
  margin: 14px 0px 14px 0px;
}
.navbar--role {
  font-size: 14px;
  line-height: 0.1rem;
  letter-spacing: 0.1em;
  margin: 0px 0px 0.7rem 0px;
}

.navbar--linkContainer {
  display: flex;
}

.navbar--link {
  margin: 20px;
}

.navbar--nameContainer {
  margin-left: 5vw;
}

.hero--container {
  height: 50rem;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
}

.hero--textContainer {
  max-width: 450px;
  margin-left: 10vw;
}

.hero--name {
  font-weight: 400;
  font-size: 18px;
  color: #4f4f4f;
  margin: 0;
}

.hero--role {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.hero--description {
  font-weight: 400;
  font-size: 18px;
  color: #4f4f4f;
}

.hero--viewProjects {
  font-weight: 700;
  font-size: 20px;
}

.projects--title {
  font-weight: 400;
  font-size: 48px;
}

.projects--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6rem 1rem;
}

.projectCard--container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 24rem;
}

.projectCard--image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.projectCard--name {
  font-weight: 700;
  font-size: 20px;
}

.projectCard--description {
  font-weight: 400;
  font-size: 18px;
}

.projectCard--infoContainer {
  padding: 2rem;
}
